 .navbar {
      padding-left: 100px;
      padding-right: 100px; 
      display: flex;
      justify-content: space-between;
  }

  .logo {
    width: 80px;
  }

  .title {
    font-size: 30px;
    font-weight: bold;
  }

  .logo-main {
    display: flex;
    align-items: center;
  }

  .link {
    color: black;
    text-decoration: none;
    font-size: 14px;
  }

  .all-links {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .firstNav {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  .special {
    font-size: 14px;
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
  }

  .secnav {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .playful {
    background-image: url('/play.jpg');
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 120px;
    background-color: rgba(0, 0, 0, 0.06);
  }

  .indiv {
    width: 100%;
    display: flex;
    align-items: start;
  }

  .leftside {
    width: 50%;
  }

  .solution {
    color: white;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.5;
  }

  .moretext {
    color: white;
    padding-top: 20px;
    font-size: 14px;
    line-height: 1.5;
    padding-bottom: 50px;
  }

  .explore {
    color: black;
    text-decoration: none;
    background-color: white;
    font-size: 14px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid black;
  }

  .moretext2 {
    color: white;
    padding-top: 20px;
    font-size: 14px;
    line-height: 1.5;
    padding-top: 50px;
    padding-bottom: 80px;
  }

  .rightside {
    width: 50%;

  }

  .formshi {
    width: 100%;
  }

  .bottomdiv {
    background-color: white;
    padding: 50px;
    width: 100%;
    margin-top: 40px;
    border-radius: 15px;
    box-shadow: 10px 10px 0px 0.1px black;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
  }

  .become {
    font-size: 14px;
  }

  .leftbottomdiv {
    width: 60%;
    border-right: 3px solid black;
    padding-right: 30px;
  }

  .hub {
    width: 80px;
  }

  .liv {
    width: 30px;
  }

  .top2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
  }

  .bottomright {
    padding-left: 30px;
  }

  .trust {
    width: 200px;
    margin-top: 10px;
  }

  .uniquediv {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 200px;
  }

  .selling {
    text-align: center;
   color: navy;
  }

  .develop {
    text-align: center;
    color: grey;
    margin-top: 20px;
    font-size: 14px;
  }

  .eachgrid {
    padding: 35px;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .leftgrid {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .smalltext {
    font-size: 14px;
    color: rgb(75, 75, 75);
  }

  .see {
    color: black;
    font-size: 14px;
  }

  .rightgrid {
  }

  .bulb {
    width: 120px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 50px;
  }

  .confidentdiv {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 200px;
  }

  .confident {
    color: navy;
  }

  .approach {
    color: grey;
    font-size: 14px;
    line-height: 1.9;
    margin-top: 15px;
  }

  .viddiv {
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .video {
    width: 50%;
    border-radius: 15px;
  }

  .quote {
    font-size: 150px;
  }

  .secviddiv {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .zraud {
    font-size: 30px;
    line-height: 1.8;
  }

  .herman {
    font-weight: bold;
  }

  .nicediv {
    background-image: url('/4882601.jpg');
    height: 50vh;
    width: 100%;
    margin-top: 150px;
  }

  .divinside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 155px;
  }

  .excel {
    font-size: 35px;
  }

  .textig {
    font-size: 14px;
    color: rgb(187, 187, 187);
    margin-top: 15px;
  }

  .copydiv {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 200px;
    display: flex;
    align-items: center;
  }

  .picdiv {
    width: 50%;

  }

  .rightcopy {
    width: 50%;
  }

  .visa {
    width: 600px;
  }

  .buyer {
    font-weight: bold;
    margin-bottom: 15px;
  }

  .put {
    color: navy;
    font-size: 35px;
    text-decoration: underline 5px solid purple;
    margin-bottom: 45px;
  }

  .organize {
    line-height: 2.5;
    color: rgb(83, 83, 83);
  }

  .clone {
    font-weight: bold;
    margin-top: 20px;
  }

  .clone2 {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 45px;
  }

  .maildiv {
     padding-left: 100px;
     padding-right: 100px;
     padding-top: 100px;
  }

  .innermail {
    background-image: url('/play.jpg');
    height: 30vh;
    width: 100%;
    border-radius: 15px;
    text-align: center;
  }

  .demo {
    color: white;
    padding-top: 40px;
    text-align: center;
  }

  .discover {
    color: white;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .explore2 {
    color: black;
    background-color: white;
    text-decoration: none;
    border: 2px solid black;
    padding: 20px;
    border-radius: 15px;
  }

  .innermail2 {
    background-image: url('/4882601.jpg');
    height: 30vh;
    width: 100%;
    border-radius: 15px;
    text-align: center;
    background-position: left;
  }

  .maildiv2 {
    padding-left: 100px;
     padding-right: 100px;
     padding-top: 100px;
  }

  .contact {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 200px;
    display: flex;
    justify-content: space-between;
  }

  .firsttop {
    display: flex;
    align-items: center;
  }

  .commit {
    font-size: 16px;
  }

  .plat {
    color: rgb(81, 81, 81);
    text-decoration: none;
  }

  .eachright {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .rightcontact {
    display: flex;
    gap: 120px;
  }

  footer {
    text-align: center;
    margin-top: 40px;
  }

@media screen and (max-width: 1211px){
      .navbar, .playful, .uniquediv, .confidentdiv, .copydiv, .maildiv, .contact {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 1173px){
     .copydiv {
        display: flex;
        flex-direction: column;
     }

     .picdiv, .rightcopy {
        width: 100%;
        text-align: center;
     }
}

@media screen and (max-width: 955px){
      .all-links {
        display: none;
      }

      .indiv {
        flex-direction: column;
      }

      .rightside, .leftside {
        width: 100%;
      }
    
      .viddiv {
        flex-direction: column;
      }

      .video, .secviddiv {
        width: 100%;
      }

      .contact {
        flex-direction: column;
        gap: 80px;
      }
}

@media screen and (max-width: 834px){
    .maildiv2 {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 757px){
    .rightcontact {
        gap: 40px;
    }

    .bottomdiv {
        flex-direction: column;
    }

    .top2 {
        justify-content: space-between;
    }

    .leftbottomdiv {
        width: 100%;
        border-right: none;
        border-bottom: 3px solid black;
        padding-bottom: 10px;
    }

    .bottomright {
        width: 100%;
        padding-top: 10px;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 615px){

    .rightcontact {
          flex-direction: column;
    }

}

@media screen and (max-width: 535px){
  .visa {
    width: 100%;
  }
}

@media screen and (max-width: 404px){
  .top2 {
     flex-direction: column;
  }
}

@media screen and (max-width: 311px){
  .bottomdiv {
     padding: 10px;
  }
}