<main>
    <nav class="navbar">
       <div class="firstNav">
        <div class="logo-main">
            <img src="/bird.png" alt="logo" class="logo">
            <p class="title">Zraud.io</p>
        </div>

        <div class="all-links">
            <a href="#" class="link">Solution</a>
            <a href="#" class="link">Customers</a>
            <a href="#" class="link">Partners</a>
            <a href="#" class="link">Resources</a>
            <a href="#" class="link">Company</a>
            <a routerLink="/login" class="link">Dashboard</a>
        </div>
       </div>

       <div class="secnav">
        <a href="" class="link">Login</a>
        <a href="" class="special">Book a Demo</a>
       </div>
    </nav>

    <div class="playful">
        <div class="indiv">
            <div class="leftside">
                <p class="solution">Solution for Protecting Your Ecommerce Business Against Fraud</p>
                <p class="moretext">Our Top-Notch anomaly detection system is dedicated to aiding our customers in preventing fraud, increasing sales, and enhancing customers and owners satisfactions</p>
                <a href="#" class="explore">Explore Our Platform</a>
                <p class="moretext2">Highest Order Approval Rates. Lowest False Decline Rates. Happiest Customers</p>
            </div>

            <div class="rightside">
                <img src="/formshi.png" alt="" class="formshi">
            </div>
        </div>

        <div class="bottomdiv">
            <div class="leftbottomdiv">
                <div class="top">
                    <p class="become">Become a part of the worlds top category:</p>
                </div>

                <div class="top2">
                    <img src="/HubSpot.png" alt="" class="hub">
                    <img src="/liverpool.png" alt="" class="liv">
                    <img src="/microsoft.png" alt="" class="hub">
                    <img src="/fedex.png" alt="" class="hub">
                    <img src="/bayer.png" alt="" class="hub">
                </div>
            </div>

            <div class="bottomright">
                <p class="become">Impressive 4.8 rating from 13000+ reviews</p>
                <img src="/trust.png" alt="" class="trust">
            </div>
        </div>
    </div>

    <div class="uniquediv">
        <h1 class="selling">The unique selling point of our products</h1>
        <p class="develop">Develop strong and well-defined segments of customers, backed by reliable primary data, to facilitate tailored product personalization</p>

        <div class="grid">
            <div class="eachgrid">
                <div class="leftgrid">
                    <h2 class="prevent">Prevent Fraud</h2>
                    <div class="smalltext">Chargeback Guarantee provides accurate, real-time order decisions</div>
                    <a href="" class="see">See Details</a>
                </div>
                <div class="rightgrid">
                    <img src="/lightbulb.jpg" alt="" class="bulb">
                </div>
            </div>

            <div class="eachgrid">
                <div class="leftgrid">
                    <h2 class="prevent">Reduce Friction</h2>
                    <div class="smalltext">While safegaurding your risk profile with card issuing Banks</div>
                    <a href="" class="see">See Details</a>
                </div>
                <div class="rightgrid">
                    <img src="/tv.png" alt="" class="bulb">
                </div>
            </div>

            <div class="eachgrid">
                <div class="leftgrid">
                    <h2 class="prevent">Policy Protect</h2>
                    <div class="smalltext">We identify customers that are taking advantage of policies</div>
                    <a href="" class="see">See Details</a>
                </div>
                <div class="rightgrid">
                    <img src="/mouse.png" alt="" class="bulb">
                </div>
            </div>

            <div class="eachgrid">
                <div class="leftgrid">
                    <h2 class="prevent">Accounts Secure</h2>
                    <div class="smalltext">uild trust by ensuring frcitionless access for good customers</div>
                    <a href="" class="see">See Details</a>
                </div>
                <div class="rightgrid">
                    <img src="/click.png" alt="" class="bulb">
                </div>
            </div>
        </div>
    </div>

    <div class="confidentdiv">
        <h1 class="confident">Confidentally engage customers digitally and by phone.</h1>
        <p class="approach">Our approach to anomaly detection in financs is unmatched. We blend advanced statistical technology with a large team of experienced fraud analysts for a balanaced solution unlike any other.</p>

        <div class="viddiv">
            <video  #videoPlayer src="/vid.mp4" controls muted class="video" loop  ></video>
            <div class="secviddiv">
                <p class="quote">"</p>
                <p class="zraud">Zraud is enhancing our growth strategy by fulfilling out commitments to our customers</p>
                <p class="herman">Herman Mavoe</p>
                <p class="svp">SVP of Applications Solutions at Liverpool</p>
            </div>
        </div>
    </div>

    <div class="nicediv">
       <div class="divinside">
        <h2 class="excel">We excel at detecting and stopping fraud.</h2>
        <p class="textig">Develop strong and specific target audiences, backed by firsthand data, to enable individualized product customiazation</p>
       </div>
    </div>

    <div class="copydiv">
        <div class="picdiv">
            <img src="/visa-removebg-preview.png" alt="" class="visa">
        </div>
        <div class="rightcopy">
            <p class="buyer">Buyers Security</p>
            <h2 class="put">Put an End to Deceptive Practises</h2>
            <p class="organize">At out organization, we leverage cutting AI-Technology alongside diligent human monitoring to make precise determinations of 'pass' or 'fail'. Though fraudstars may be cunning, we have the expertise and resources to stay one step ahead.</p>
            <p class="clone">Future-proof your business with guaranteed performance</p>
            <p class="clone2">Remove friction and maximize lifetime value</p>
            <a href="" class="explore">Read More</a>
        </div>
    </div>


    <div class="copydiv">
        <div class="rightcopy">
            <p class="buyer">Policy Protect</p>
            <h2 class="put">Boost your Order Approval Rate with Certainty</h2>
            <p class="organize">The impact of false positives cannot be overstated. This is precisely why Zraud.io takes additional measures to scrutinize and authorize transactions that other platforms would automatically reject</p>
            <p class="clone">Reveal the true identity behind each refund claim</p>
            <p class="clone2">Block resellers from hoarding limited items</p>
            <a href="" class="explore">Read More</a>
        </div>

        <div class="picdiv">
            <img src="/warn-removebg-preview.png" alt="" class="visa">
        </div>
    </div>

    <div class="maildiv">
        <div class="innermail">
             <h1 class="demo">Get a demo just for You</h1>
             <p class="discover">Discover how Zraud.io can enhance your eCommerce business by accelerating growth and treamlining the customer experience.</p>
             <a href="" class="explore2">Request Demo</a>
        </div>
    </div>

    <div class="copydiv">
        <div class="picdiv">
            <img src="/idk-removebg-preview.png" alt="" class="visa">
        </div>
        <div class="rightcopy">
            <p class="buyer">Digital Insight</p>
            <h2 class="put">Ensure a Safe Customer Experience</h2>
            <p class="organize">Make informed decisions based on millions of conirmed fraudulent actions, insight into fraudster activities, locations and devices.</p>
            <p class="clone">Combat increasignly sophisticated identity fraud</p>
            <p class="clone2">Deliver seamless customer experiences</p>
            <a href="" class="explore">Read More</a>
        </div>
    </div>

    <div class="copydiv">
        <div class="rightcopy">
            <p class="buyer">Omnichannel Authentication</p>
            <h2 class="put">Acclerate the progress of Reliable Customers</h2>
            <p class="organize">Reduce the rate of abandoned carts by simplifying the checkout process, even for customers who dont have accounts with your stores</p>
            <p class="clone">Boost your promotions ROI</p>
            <p class="clone2">Impose limits on resellers to prevent them from monopolizing limited items</p>
            <a href="" class="explore">Read More</a>
        </div>

        <div class="picdiv">
            <img src="/failed.png" alt="" class="visa">
        </div>
    </div>

    <div class="maildiv2">
        <div class="innermail2">
             <h1 class="demo">Cmon Trust Us</h1>
             <p class="discover">The big guys defintely do!!!!</p>
             <a href="" class="explore2">See More</a>
        </div>
    </div>

    <div class="contact">
        <div class="leftcontact">
             <div class="firsttop">
                <img src="/bird.png" alt="logo" class="logo">
                <p class="title">Zraud.io</p>
             </div>

             <div class="sectop">
                <p class="commit">We are deeply committed to the principle of <br> oppurtunity for all individuals</p>
             </div>
        </div>

        <div class="rightcontact">
            <div class="eachright">
                <h3 class="sol">Solutions</h3>
                <a href="" class="plat">Platform</a>
                <a href="" class="plat">Guarantee</a>
                <a href="" class="plat">Dispute Resolve</a>
                <a href="" class="plat">Policy Protect</a>
                <a href="" class="plat">Account Secure</a>
            </div>

            <div class="eachright">
                <h3 class="sol">Resources</h3>
                <a href="" class="plat">Resources Center</a>
                <a href="" class="plat">Risk Academy</a>
                <a href="" class="plat">eConfidence</a>
                <a href="" class="plat">Documentation</a>
                <a href="" class="plat">Optimize</a>
            </div>

            <div class="eachright">
                <h3 class="sol">Company</h3>
                <a href="" class="plat">About Us</a>
                <a href="" class="plat">Careers</a>
                <a href="" class="plat">Affiliate</a>
                <a href="" class="plat">Engineering</a>
                <a href="" class="plat">Customers</a>
            </div>

            <div class="eachright">
                <h3 class="sol">Support</h3>
                <a href="" class="plat">Help</a>
                <a href="" class="plat">Tutorials</a>
                <a href="" class="plat">Resources</a>
                <a href="" class="plat">Blog</a>
                <a href="" class="plat">Contact</a>
            </div>
        </div>
    </div>

    <footer>Copyright 2025</footer>
</main>
