<main class="mainshi">
   <!-- Home Component Template -->
<div class="home-container">
    <!-- Navbar -->
    <nav class="navbar">
      <div class="firstNav">
        <div class="logo-main">
          <img src="/favicon.ico" alt="logo" class="logo">
          <p class="title">Zraud.io</p>
        </div>
  
        <div class="all-links">
          <a href="#" class="link">Technology</a>
          <a href="#" class="link">Industry</a>
          <a href="#" class="link">Collaborations</a>
          <a href="#" class="link">Documentations</a>
          <a href="#" class="link">About Us</a>
          <a routerLink="/login" class="link">Dashboard</a>
        </div>
      </div>
  
      <div class="secnav">
        <a href="" class="link">Login</a>
        <a href="" class="special">Book a Demo</a>
      </div>
  
      <!-- Menu Icon for smaller screens -->
      <mat-icon class="hamburger" (click)="toggleMenu()">menu</mat-icon>
  
      <!-- Sliding Menu for smaller screens -->
      <div class="sliding-menu" [ngClass]="{'open': isMenuOpen}" #menu>
        <a href="#" class="link">Technology</a>
        <a href="#" class="link">Industry</a>
        <a href="#" class="link">Collaborations</a>
        <a href="#" class="link">Documentations</a>
        <a href="#" class="link">About Us</a>
        <a routerLink="/login" class="link">Dashboard</a>
        <a href="" class="link">Login</a>
        <a href="" class="special">Book a Demo</a>
      </div>
    </nav>
  </div>
  
    

    <div class="phonediv">
         <div class="leftphonediv">
            <img src="/phone.png" alt="" class="phone">
         </div>

         <div class="rightphonediv">
             <h1 class="control">Automated Anomaly Detection System</h1>
             <p class="from">Identify transaction irregularities with a high degree of accuracy using hybrid machine-learning models. Protect your financial operations with proactive anomaly detection.</p>

             <div class="linkdiv">
                <a href="#" class="open">Access Alerts</a>
                <a href="" class="gen">Simulate Transactions</a>
             </div>

             <!-- <div class="peoplediv">
                <img src="/people.png" alt="" class="people">
                <div class="milliondiv">
                    <h1 class="million">15 Million+</h1>
                    <p class="trust">Our model has been adopted globally by institutions aiming to enhance fraud prevention through intelligent, real-time insights.</p>
                </div>
             </div> -->
         </div>
    </div>

    <div class="features">
        <h1 class="feel">Enhanced Security and Financial Intelligence</h1>
        <div class="firstflex">
            <div class="leftfirst">
                <mat-icon class="credit">credit_card</mat-icon>
                <h1 class="card">Real-Time Detection and Profiling</h1>
                <p class="uncover">Utilize a hybrid learning model integrating unsupervised and supervised techniques for anomaly profiling and transaction pattern analysis.</p>
                <img src="/cards.png" alt="" class="cardpic">
            </div>

            <div class="leftfirst">
                <mat-icon class="credit">trending_up</mat-icon>
                <h1 class="card">Dynamic Monitoring and Adaptation</h1>
                <p class="uncover">Continuously monitor and adapt to evolving financial behavior, providing precise insights and minimizing false positives through intelligent thresholding.

                </p>
                <img src="/stats.png" alt="" class="cardpic">
            </div>
        </div>

        <!-- <div class="secondflex">
            <div class="writeup">
                <mat-icon class="money">attach_money</mat-icon>
                <h1 class="global">Cross-Border Financial Integrity</h1>
                <p class="system">Our system ensures compliance and security for international transactions using scalable, multi-layered anomaly detection strategies and ensemble learning techniques.</p>
            </div>

            <div class="mapdiv">
                <img src="/map.png" alt="" class="map">
            </div>
        </div> -->

        <!-- <div class="thirdflex">
            <div class="littlethird">
                <mat-icon class="coins">monetization_on</mat-icon>
                <div class="global">Deployed in Over 30 Countries</div>
                <img src="/countries.png" alt="" class="countries">
            </div>

            <div class="littlethird">
                <mat-icon class="coins">bookmark</mat-icon>
                <div class="global">Centralized Dashboard Control</div>
                <img src="/figma.png" alt="" class="countries">
            </div>

            <div class="littlethird">
                <mat-icon class="coins">monetization_on</mat-icon>
                <div class="global">Global Compliance Ready</div>
                <img src="/countries.png" alt="" class="countries">
            </div>
        </div> -->
    </div>

    <!-- <div class="fourthdiv">
        <h1 class="fastest">Adopted by 200+ Leading Organizations</h1>
        <p class="many">Financial institutions trust our model for its adaptability, accuracy, and enterprise-grade scalability in fraud detection.</p>
        <img src="/sponsors.png" alt="" class="sponsors">
    </div> -->

    <!-- <div class="fifthdiv">
        <h1 class="join">Join Millions Using Our Intelligent Detection Model</h1>
        <div class="womandiv">
            <div class="womanimg">
                <img src="/woman.png" alt="" class="woman">
            </div>

            <div class="writediv">
                <p class="overall">This platform transformed how I perceive and manage financial threats. It empowered me with the tools and confidence to detect fraud before it escalates.</p>

                <h1 class="ellena">Ellena Putri</h1>
            </div>
        </div>
    </div> -->

    <div class="sixthdiv">
        <h1 class="zraud">Download Zraud for Secure Oversight</h1>
        <p class="with">Access advanced financial intelligence and anomaly detection anytime, anywhere. Take charge with our responsive mobile app.</p>

        <div class="downloaddiv">
            <a href="" class="apple"><mat-icon>apple</mat-icon> Download Now</a>
            <a href="" class="apple"><mat-icon>store</mat-icon> Download Now</a>
        </div>

        <div class="crazydiv">
            <img src="/crazy.png" alt="" class="crazy">
        </div>
    </div>

    <h1 class="save">Secure Transactions. Smarter Decisions.</h1>

    <div class="footer">
        <div class="topfooter">
           <div class="topleftfooter">
            <mat-icon class="mail">mail</mat-icon>
            <h1 class="keep">Keep up with the latest</h1>
            <p class="news">Join our newsletter to keep up to date with features and releases</p>
           </div>

           <div class="toprightfooter">
            <p class="stay">Stay up to date</p>
            <div class="inpdiv">
                <input type="text" class="sub" placeholder="Enter your email">
                <a href="" class="subscribe">Subscribe</a>
            </div>
            <p class="by">By subscribing, you agree to our privacy policy.</p>
           </div>
        </div>

        <div class="bottomfooter">
            <div class="leftbottom">
                <img src="/favicon.ico" alt="logo" class="logo">
                <p class="title2">Zraud.io</p>
            </div>

            <div class="rightbottom">
                <div class="moreshi">
                    <h2 class="head">Platform</h2>
                   <a href="" class="pay">Overview</a>
                   <a href="" class="pay">Features</a>
                   <a href="" class="pay">Documentation</a>
                   <a href="" class="pay">Demo</a>
                </div>
    
                <div class="moreshi">
                    <h2 class="head">Resources</h2>
                   <a href="" class="pay">Research Paper</a>
                   <a href="" class="pay">Case Studies</a>
                   <a href="" class="pay">Security Guide</a>
                   <a href="" class="pay">API Reference</a>
                </div>
    
                <div class="moreshi">
                    <h2 class="head">Company</h2>
                   <a href="" class="pay">About</a>
                   <a href="" class="pay">Careers</a>
                   <a href="" class="pay">Partners</a>
                   <a href="" class="pay">Contact</a>
                </div>
    
                <div class="moreshi">
                    <h2 class="head">Developer</h2>
                   <a href="" class="pay">API Documentation</a>
                   <a href="" class="pay">Guide</a>
                   <a href="" class="pay">Change Log</a>
                </div>
    
                <div class="moreshi">
                    <h2 class="head">Legal</h2>
                   <a href="" class="pay">Privacy Policy</a>
                   <a href="" class="pay">Terms of Service</a>
                   <a href="" class="pay">Cookies</a>
                </div>
    
                <div class="moreshi">
                    <h2 class="head">Support</h2>
                   <a href="" class="pay">Help</a>
                   <a href="" class="pay">FAQ</a>
                   <a href="" class="pay">Contact</a>
                </div>
            </div>
        </div>
    </div>

</main>
